n8n/daily-monitor-v2.workflow.json
{
  "name": "X Daily Monitor",
  "note": "Self-contained (Data Table backed) rebuild. Live at https://saiprashanth-ai.app.n8n.cloud/workflow/tLiZYdMrmpWGHyr2 -- that live workflow is the source of truth; use n8n's own Export (... menu > Download) if you need a fresher copy of this file.",
  "nodes": [
    {"id":"46319160-6247-4736-9f11-c3265c2f34ab","name":"Daily 07:00 Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,528],"parameters":{"rule":{"interval":[{"field":"days","triggerAtHour":7,"triggerAtMinute":0}]}}},
    {"id":"6703c41b-d69e-4ad8-b408-3aa24c1d515b","name":"Ensure MonitorAlerts Table","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[224,528],"parameters":{"resource":"table","operation":"create","tableName":"MonitorAlerts","columns":{"column":[{"name":"run_date","type":"string"},{"name":"handle","type":"string"},{"name":"alert_type","type":"string"},{"name":"detail","type":"string"},{"name":"metric","type":"string"},{"name":"tweet_url","type":"string"}]},"options":{"createIfNotExists":true}}},
    {"id":"65837159-d6f0-40ad-9baa-2cfa5015a147","name":"Get Watchlist Rows","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[448,528],"parameters":{"resource":"row","operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"Watchlist"},"returnAll":true}},
    {"id":"a34246e7-d633-4f24-8977-a95e11c91e10","name":"Loop Over Watchlist","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,528],"parameters":{"batchSize":1}},
    {"id":"c429ec32-11fc-42e9-a1e6-5bfe50ca0d0b","name":"Get Baseline Row","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[896,192],"parameters":{"resource":"row","operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"Baselines"},"filters":{"conditions":[{"keyName":"handle","condition":"eq","keyValue":"={{ $json.handle }}"}]},"returnAll":false,"limit":1},"alwaysOutputData":true},
    {"id":"c66894ac-0cb6-43c0-81e7-d325fca35796","name":"Normalize Baseline","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,192],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const w = $('Loop Over Watchlist').item.json;\nconst first = $input.first();\nconst item = first ? first.json : {};\nconst has_baseline = !!(item && item.id !== undefined);\nlet baseline = null;\nif (has_baseline) {\n  let formats = {}; let known_hooks = [];\n  try { formats = JSON.parse(item.formats_json || '{}'); } catch (e) {}\n  try { known_hooks = JSON.parse(item.known_hooks_json || '[]'); } catch (e) {}\n  baseline = {\n    cadence: { tweets_per_day_mean: item.cadence_mean || 0, tweets_per_day_stdev: item.cadence_stdev || 0 },\n    engagement: {\n      likes: { mean: item.likes_mean || 0, stdev: item.likes_stdev || 0 },\n      retweets: { mean: item.retweets_mean || 0, stdev: item.retweets_stdev || 0 },\n      views: { mean: item.views_mean || 0, stdev: item.views_stdev || 0 }\n    },\n    formats, known_hooks\n  };\n}\nreturn [{ json: { handle: w.handle, display_name: w.display_name, has_baseline, baseline } }];"}},
    {"id":"dc1e970e-5923-48e2-92c6-64a8ff6a35ca","name":"Fetch Today Tweets (Apify)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,192],"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apidojo~tweet-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ { \"searchTerms\": [\"from:\" + $json.handle], \"start\": $today.minus({ days: 1 }).toFormat(\"yyyy-MM-dd\"), \"end\": $today.toFormat(\"yyyy-MM-dd\"), \"sort\": \"Latest\", \"maxItems\": 50 } }}"},"onError":"continueErrorOutput"},
    {"id":"44f94605-fc43-4beb-960e-af2d55d06352","name":"Apify Call Failed","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,288],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const handleItem = $('Normalize Baseline').item.json;\nreturn [{ json: { handle: handleItem.handle, display_name: handleItem.display_name, has_baseline: false, tweet_count_today: 0, viral_hits: [], cadence_anomaly: false, new_format_flags: [], error: 'apify_fetch_failed' } }];"}},
    {"id":"c6319ef1-3f45-4c1e-a828-abb8dba45b8b","name":"Detect Outliers","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,96],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ctx = $('Normalize Baseline').item.json;\nconst tweets = $input.all().map(i => i.json).filter(t => t && !t.noResults);\nconst baseline = ctx.baseline;\nconst result = { handle: ctx.handle, display_name: ctx.display_name, has_baseline: ctx.has_baseline, tweet_count_today: tweets.length, viral_hits: [], cadence_anomaly: false, ambiguous_tweets: [], known_formats: [], known_hooks: [] };\nif (ctx.has_baseline && baseline) {\n  const likeMean = (baseline.engagement && baseline.engagement.likes && baseline.engagement.likes.mean) || 0;\n  const likeStdev = (baseline.engagement && baseline.engagement.likes && baseline.engagement.likes.stdev) || 0;\n  result.known_formats = Object.keys(baseline.formats || {});\n  result.known_hooks = baseline.known_hooks || [];\n  for (const t of tweets) {\n    const likes = t.likeCount || t.favoriteCount || 0;\n    const z = likeStdev > 0 ? (likes - likeMean) / likeStdev : 0;\n    const multiple = likeMean > 0 ? likes / likeMean : 0;\n    if (z > 2 || multiple > 5) {\n      result.viral_hits.push({ id: t.id, url: t.url || t.twitterUrl, text: (t.text || '').slice(0, 280), likes, z: Math.round(z * 100) / 100, multiple: Math.round(multiple * 100) / 100 });\n    }\n    if (!t.isRetweet && !t.isReply) {\n      result.ambiguous_tweets.push({ id: t.id, text: (t.text || '').slice(0, 500) });\n    }\n  }\n  const meanPerDay = (baseline.cadence && baseline.cadence.tweets_per_day_mean) || 0;\n  const stdevPerDay = (baseline.cadence && baseline.cadence.tweets_per_day_stdev) || 0;\n  if (stdevPerDay > 0 && Math.abs(tweets.length - meanPerDay) / stdevPerDay > 2) { result.cadence_anomaly = true; }\n}\nreturn [{ json: result }];"}},
    {"id":"ae76ccdd-605d-49e2-b752-0813214f5548","name":"Has Ambiguous Tweets?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1792,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.ambiguous_tweets.length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}],"combinator":"and"}}},
    {"id":"6bbc0779-898b-4988-aade-ed0f5a46db94","name":"Classify New Formats (Groq)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2016,0],"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ { \"model\": \"llama-3.3-70b-versatile\", \"temperature\": 0, \"response_format\": { \"type\": \"json_object\" }, \"messages\": [ { \"role\": \"system\", \"content\": \"You classify tweets against an account's established content formats. Respond ONLY with strict JSON: {\\\"verdicts\\\": [{\\\"id\\\": string, \\\"is_new_format\\\": boolean, \\\"label\\\": string, \\\"rationale\\\": string}]}.\" }, { \"role\": \"user\", \"content\": \"Known formats: \" + JSON.stringify($json.known_formats) + \". Known hooks: \" + JSON.stringify($json.known_hooks) + \". Classify each tweet: \" + JSON.stringify($json.ambiguous_tweets) } ] } }}"},"onError":"continueErrorOutput"},
    {"id":"d50ec2fa-2ed1-4018-a19b-9d4f7d17f2b0","name":"Groq Call Failed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,480],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ctx = $('Detect Outliers').item.json;\nreturn [{ json: Object.assign({}, ctx, { new_format_flags: [], groq_error: true }) }];"}},
    {"id":"e087ced5-6260-4ec7-9784-57fffd1ec2e3","name":"Merge Groq Verdicts","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,272],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ctx = $('Detect Outliers').item.json;\nlet verdicts = [];\ntry {\n  const content = $json.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  verdicts = parsed.verdicts || [];\n} catch (e) { verdicts = []; }\nreturn [{ json: Object.assign({}, ctx, { new_format_flags: verdicts.filter(v => v.is_new_format) }) }];"}},
    {"id":"931a2745-602f-40e6-a389-cf1cd861ea2a","name":"No New Format Check Needed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,192],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: Object.assign({}, $json, { new_format_flags: [] }) }];"}},
    {"id":"c6a31a28-0a07-4812-93e2-b9ef84f4b69b","name":"Aggregate Alerts","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const alerts = $input.all().map(i => i.json);\nreturn [{ json: { alerts, run_date: new Date().toISOString().slice(0, 10) } }];"}},
    {"id":"e030a7ef-eac7-4b69-9ac0-30377e10c6ed","name":"Flatten Alerts To Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,0],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const agg = $input.first().json;\nconst rows = [];\nfor (const a of agg.alerts) {\n  if (a.error) { rows.push({ run_date: agg.run_date, handle: a.handle, alert_type: 'error', detail: a.error, metric: '', tweet_url: '' }); continue; }\n  if (!a.has_baseline) { rows.push({ run_date: agg.run_date, handle: a.handle, alert_type: 'no_baseline', detail: 'No baseline yet -- run X Deep Scan for this handle', metric: '', tweet_url: '' }); continue; }\n  let any = false;\n  for (const v of (a.viral_hits || [])) { any = true; rows.push({ run_date: agg.run_date, handle: a.handle, alert_type: 'viral_hit', detail: v.text, metric: v.likes + ' likes (' + v.multiple + 'x avg)', tweet_url: v.url || '' }); }\n  if (a.cadence_anomaly) { any = true; rows.push({ run_date: agg.run_date, handle: a.handle, alert_type: 'cadence_anomaly', detail: 'Posted ' + a.tweet_count_today + ' today, off from baseline', metric: '', tweet_url: '' }); }\n  for (const f of (a.new_format_flags || [])) { any = true; rows.push({ run_date: agg.run_date, handle: a.handle, alert_type: 'new_format', detail: (f.label || '') + ': ' + (f.rationale || ''), metric: '', tweet_url: '' }); }\n  if (!any) { rows.push({ run_date: agg.run_date, handle: a.handle, alert_type: 'ok', detail: 'Nothing unusual (' + a.tweet_count_today + ' tweet(s) today)', metric: '', tweet_url: '' }); }\n}\nreturn rows.map(r => ({ json: r }));"}},
    {"id":"18693788-9c98-40ef-89e6-6535dad68c26","name":"Insert Monitor Alerts","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1344,0],"parameters":{"resource":"row","operation":"insert","dataTableId":{"__rl":true,"mode":"name","value":"MonitorAlerts"},"columns":{"mappingMode":"defineBelow","value":{"run_date":"={{ $json.run_date }}","handle":"={{ $json.handle }}","alert_type":"={{ $json.alert_type }}","detail":"={{ $json.detail }}","metric":"={{ $json.metric }}","tweet_url":"={{ $json.tweet_url }}"},"schema":[{"id":"run_date","displayName":"run_date","type":"string","canBeUsedToMatch":true},{"id":"handle","displayName":"handle","type":"string","canBeUsedToMatch":true},{"id":"alert_type","displayName":"alert_type","type":"string","canBeUsedToMatch":true},{"id":"detail","displayName":"detail","type":"string","canBeUsedToMatch":true},{"id":"metric","displayName":"metric","type":"string","canBeUsedToMatch":true},{"id":"tweet_url","displayName":"tweet_url","type":"string","canBeUsedToMatch":true}]}}}
  ],
  "connections": {"Daily 07:00 Trigger":{"main":[[{"node":"Ensure MonitorAlerts Table","type":"main","index":0}]]},"Ensure MonitorAlerts Table":{"main":[[{"node":"Get Watchlist Rows","type":"main","index":0}]]},"Get Watchlist Rows":{"main":[[{"node":"Loop Over Watchlist","type":"main","index":0}]]},"Aggregate Alerts":{"main":[[{"node":"Flatten Alerts To Rows","type":"main","index":0}]]},"Flatten Alerts To Rows":{"main":[[{"node":"Insert Monitor Alerts","type":"main","index":0}]]},"Get Baseline Row":{"main":[[{"node":"Normalize Baseline","type":"main","index":0}]]},"Normalize Baseline":{"main":[[{"node":"Fetch Today Tweets (Apify)","type":"main","index":0}]]},"Fetch Today Tweets (Apify)":{"main":[[{"node":"Detect Outliers","type":"main","index":0}],[{"node":"Apify Call Failed","type":"main","index":0}]]},"Detect Outliers":{"main":[[{"node":"Has Ambiguous Tweets?","type":"main","index":0}]]},"Has Ambiguous Tweets?":{"main":[[{"node":"Classify New Formats (Groq)","type":"main","index":0}],[{"node":"No New Format Check Needed","type":"main","index":0}]]},"Classify New Formats (Groq)":{"main":[[{"node":"Merge Groq Verdicts","type":"main","index":0}],[{"node":"Groq Call Failed","type":"main","index":0}]]},"Merge Groq Verdicts":{"main":[[{"node":"Loop Over Watchlist","type":"main","index":0}]]},"Loop Over Watchlist":{"main":[[{"node":"Aggregate Alerts","type":"main","index":0}],[{"node":"Get Baseline Row","type":"main","index":0}]]},"Groq Call Failed":{"main":[[{"node":"Loop Over Watchlist","type":"main","index":0}]]},"No New Format Check Needed":{"main":[[{"node":"Loop Over Watchlist","type":"main","index":0}]]},"Apify Call Failed":{"main":[[{"node":"Loop Over Watchlist","type":"main","index":0}]]}}
}
